BasedOnStyle: LLVM
AccessModifierOffset: -4
AllowShortFunctionsOnASingleLine: None
BreakBeforeBraces: Allman
ColumnLimit: 120
IndentCaseLabels: false
IndentWidth: 4
SortIncludes: true
TabWidth: 4
UseTab: Never
